td.color1{
	background-color: gainsboro;
}
td.color2{
	background-color: gainsboro;
}
td.color3{
	background-color: gainsboro;
}
td.color4{
	background-color: white;
}
td.color5{
	background-color: red;
}
td.color6{
	background-color: white;
}
td.color7{
	background-color: gainsboro;
}
td.color8{
	background-color: gainsboro;
}
td.color9{
	background-color: gainsboro;
}
td.color10{
	background-color: gainsboro;
}
td.color11{
	background-color: gainsboro;
}
