td.color1{
	background-color: green;
}
td.color2{
	background-color: green;
}
td.color3{
	background-color: green;
}
td.color4{
	background-color: yellow;
}
td.color5{
	background-color: blue;
}
td.color6{
	background-color: yellow;
}
td.color7{
	background-color: green;
}
td.color8{
	background-color: green;
}
td.color9{
	background-color: green;
}
td.color10{
	background-color: gainsboro;
}
td.color11{
	background-color: gainsboro;
}
